In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("HPAI Detections in Wild Birds.csv")
df

,State,County,Collection Date,Date Detected,HPAI Strain,Bird Species,WOAH Classification,Sampling Method,Submitting Agency
0,California,Solano,12/6/2025,12/23/2025,EA H5,Green-winged teal,Wild bird,Hunter harvest,NWDP
1,California,Solano,12/6/2025,12/23/2025,EA H5,Green-winged teal,Wild bird,Hunter harvest,NWDP
2,Colorado,Larimer,12/1/2025,12/23/2025,EA H5,Cackling goose,Wild bird,Morbidity/Mortality,NWDP
3,Oregon,Columbia,12/13/2025,12/23/2025,EA H5,Green-winged teal,Wild bird,Hunter harvest,NWDP
4,Oregon,Morrow,12/6/2025,12/23/2025,EA H5,Mallard,Wild bird,Hunter harvest,NWDP
...,...,...,...,...,...,...,...,...,...
17253,North Carolina,Hyde,1/1/2022,1/16/2022,EA H5,Northern shoveler,Wild bird,Hunter harvest,NWDP
17254,South Carolina,Colleton,12/30/2021,1/13/2022,EA H5N1,Blue-winged teal,Wild bird,Hunter harvest,NWDP
17255,South Carolina,Colleton,12/30/2021,1/13/2022,EA H5N1,American wigeon,Wild bird,Hunter harvest,NWDP
17256,North Carolina,Hyde,12/30/2021,1/12/2022,EA H5,Gadwall,Wild bird,Hunter harvest,NWDP
17257,North Carolina,Hyde,12/30/2021,1/12/2022,EA H5N1,Northern shoveler,Wild bird,Hunter harvest,NWDP

In [4]:
df["State"].unique()

array(['California', 'Colorado', 'Oregon', 'Nevada', 'Missouri',
       'Georgia', 'North Dakota', 'Nebraska', 'Wyoming', 'DC', 'Montana',
       'Iowa', 'Arkansas', 'Mississippi', 'Michigan', 'North Carolina',
       'Louisiana', 'Kentucky', 'West Virginia', 'Kansas', 'Indiana',
       'New York', 'Pennsylvania', 'Minnesota', 'Wisconsin', 'Florida',
       'Ohio', 'Alaska', 'Washington', 'Texas', 'New Hampshire',
       'Massachusetts', 'Maryland', 'Maine', 'Idaho', 'Tennessee', 'Utah',
       'Delaware', 'Virginia', 'Alabama', 'Oklahoma', 'Illinois',
       'New Jersey', 'South Dakota', 'South Carolina', 'Arizona',
       'Connecticut', 'New Mexico', 'Hawaii', 'Vermont', 'Rhode Island'],
      dtype=object)

In [5]:
midwestern_states = ["Illinois","Wisconsin","Minnesota","Iowa","Missouri","Tennessee","Kentucky","Indiana","Ohio","Michigan"]

In [6]:
df["HPAI Strain"].unique()

array(['EA H5', 'EA H5N1', 'EA/AM H5N1', 'EA H5n1', 'EA/AM H5N5', 'EA H%',
       'EA/AM H5', 'EA/AM H5N6 mixed', 'EA H5 mixed', 'EA/AM H5N1 mixed',
       'EA/AM H5 mixed', 'EA H5N5', 'EA H5N1 mixed', nan, 'EA/AM H5N2',
       'EA H5N1 Mixed', 'EA/AM H5N6'], dtype=object)

In [7]:
df_midwest = df[(df["State"].isin(midwestern_states)) & (~df["HPAI Strain"].isna())]
df_midwest["State"].unique()

array(['Missouri', 'Iowa', 'Michigan', 'Kentucky', 'Indiana', 'Minnesota',
       'Wisconsin', 'Ohio', 'Tennessee', 'Illinois'], dtype=object)

In [8]:
df_midwest.columns

Index(['State', 'County', 'Collection Date', 'Date Detected', 'HPAI Strain',
       'Bird Species', 'WOAH Classification', 'Sampling Method',
       'Submitting Agency'],
      dtype='object')

In [9]:
species = len(list(df["Bird Species"].unique()))
species

240

In [10]:
species = list(df_midwest["Bird Species"].unique())

# with open("species_list.txt", 'w') as file:
# 	file.write("\n".join(species))

In [11]:
len(species)

94

In [12]:
# df_midwest.to_csv("midwest_species.csv")

In [13]:
df_grouped = df_midwest[['State','Bird Species']].groupby("Bird Species").agg("count").reset_index().rename(columns={"State":"count"})

In [14]:
df_grouped

           Bird Species  count
0   American black duck     41
1         American coot      3
2         American crow     42
3      American kestrel      1
4        American robin      2
..                  ...    ...
89       Turkey vulture     25
90  White-winged scoter      1
91       Whooping crane      1
92            Wood Duck      1
93            Wood duck    349

[94 rows x 2 columns]

In [ ]:
# df_grouped.to_csv("grouped_species.csv")